.Cart
{
width: 1920px; 
height: 2218px; 
position: relative; 
background: white
}
.SectionTitle
{
left: 300px; 
top: 275px; 
position: absolute; 
justify-content:flex-start; 
align-items: flex-start; 
display: inline-flex;
text-align: center; 
color: black; 
font-size: 50px; 
font-family: Roboto; 
font-weight: 500; 
text-transform: capitalize; 
word-wrap: break-word;
}
.Frame6
{
  height: 1062px; 
  padding: 10px; 
  left: 188px; 
  top: 407px; 
  position: absolute; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 10px; 
  display: inline-flex;
}
.Frame3
{
  width: 1521px; 
  height: 253px; 
  position: relative; 
  border: 1px #1E2832 solid;
}
.ImageProduct2
{
  width: 319.89px;
  height: 213.42px; 
  left: 33.49px; 
  top: 20.18px; 
  position: absolute;
}
.price
{
  left: 778px; 
  top: 108px; 
  position: absolute; 
  color: #1E2832; 
  font-size: 32px; 
  font-family: Roboto; 
  font-weight: 600; 
  text-transform: capitalize; 
  word-wrap: break-word;
}
.quantity
{
left: 997px; 
top: 108px; 
position: absolute; 
color: #1E2832; 
font-size: 32px; 
font-family: Roboto; 
font-weight: 600; 
text-transform: capitalize; 
word-wrap: break-word;
}
.cancelbutton
{
  left: 1400px; 
  top: 107px; 
  position: absolute; 
  color: #1E2832; 
  font-size: 32px; 
  font-family: Roboto; 
  font-weight: 600; 
  text-transform: capitalize; 
  word-wrap: break-word;
}
.functionbutton
{
  background-color: white;
  color: #1E2832; 
  font-size: 32px; 
  font-family: Roboto; 
  font-weight: 600; 
  text-transform: capitalize; 
  word-wrap: break-word;
  border:none;
  cursor: pointer;
}
.OrderSummaryInfo
{
  width: 1520px; 
  height: 464px; 
  left: 194px; 
  top: 1523px; 
  position: absolute;
}
.Rectangle2
{
  width: 1517px; 
  height: 464px; 
  left: 3px; 
  top: 0px; 
  position: absolute; 
  background: #F2F3F5;
}
.ButtonToProceed
{
width: 387px; 
height: 72px; 
padding-left: 26px; 
padding-right: 26px; 
padding-top: 19px; 
padding-bottom: 19px; 
left: 1082px; 
top: 325px; 
position: absolute; 
background: #1E2832; 
justify-content: center; 
align-items: center; 
gap: 8px; 
display: inline-flex;
}
.TextForSummary
{
  width: 30px; 
  height: 30px; 
  justify-content: center; 
  align-items: center; 
  display: flex
}
.Icon
{
  width: 24px; 
  text-align: center; 
  color: white; 
  font-size: 24px; 
  font-family: Font Awesome 6 Free; 
  font-weight: 900; 
  word-wrap: break-word;

}
.ShopNow
{
color: white; 
font-size: 29px; 
font-family: Roboto; 
font-weight: 400; 
text-transform: capitalize; 
word-wrap: break-word;
}

.ProceedButton
  {
  cursor: pointer;
  border-radius: 2px;
}
.OrderSummary
{
width: 721.68px; 
left: 172.44px; 
top: 50px; 
position: absolute; 
color: black; 
font-size: 32px; 
font-family: Roboto; 
font-weight: 600; 
text-transform: capitalize; 
word-wrap: break-word
}
.Line4
{
  width: 1520px; 
  height: 0px; 
  left: 0px; 
  top: 119px; 
  position: absolute; 
  border: 1px black solid;
}
.TotalItems
{
  width: 814.29px; 
  left: 129px; 
  top: 205px; 
  position: absolute;
}
.LetsIconsOrder
{
  width: 24px; 
  height: 24px; 
  left: 1252px; 
  top: 70px; 
  position: absolute;
}
.Group
{
  width: 14px; 
  height: 17px; 
  left: 5px; 
  top: 4px; 
  position: absolute;
}
.ButtonToProceed:hover{
  background:#FF6F61;
    color:#1E2832;
}
.TextForSummary:hover{
  background:#FF6F61;
  color:#1E2832;

}