#site-image-container {
    position: relative;
    border: black;
    border: 0.0625rem solid transparent;
    padding: 1%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
}

#site-image-container:hover {
    border: 0.0625rem solid black;
    transition: 0.5s;
}

.one-one {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
}

.two-two {
    height: 31rem;
    width: 31rem;
    object-fit: cover;
}

.forty-fifty {
    height: 25rem;
    width: 19.5rem;
    object-fit: cover;
}

.hot, .sale {
    position: absolute;
    font-size: 0.7rem;
    color: white;
    padding: 0.1rem 0.4rem;
    top: 0.7rem;
}

.hot {
    background-color: var(--accent);
}

.sale {
    background-color: var(--dark-gray-bg);
}