.cart-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.cart {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cart-item-container {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 70%;
    align-items: center;
}

.order-summary {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.checkout-button {
    align-self: flex-start;
}

@media (width <= 1250px) {
    .cart {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .cart-item-container {
        display: flex;
        flex-direction: column;
        gap: 2%;
        width: 100%;
        align-items: center;
    }

    .order-summary {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}