@font-face {
    font-family: "Playfair Display Italic";
    src: url("../../public/site-fonts/Playfair Display Roboto/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("../../public/site-fonts/Playfair Display Roboto/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Roboto Black Italic";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto Bold Italic";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
    font-family: "Roboto Italic";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-Italic.ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: "Roboto Light Italic";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
    font-family: "Roboto Medium";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Roboto Medium Italic";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
    font-family: "Roboto Thin";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-Thin.ttf");
}
@font-face {
    font-family: "Roboto Thin Italic";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-ThinItalic.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../../public/site-fonts/Playfair Display Roboto/Roboto/Roboto-Regular.ttf");
}

:root {
    font-family: "Roboto Light";
    font-size: 16px;

    --gray-bg: #F2F3F5;
    --dark-gray-bg: #1E2832;
    --accent: #FF6F61;

    color: var(--dark-gray-bg);
}

body {
  font-weight: 400;
  margin: 0px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto';
  font-weight: 600;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


a, button {
    cursor: pointer;
}

a {
    color: var(--dark-gray-bg);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--accent);
    transition: 0.2s;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: content-box;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.big-button {
    background-color: var(--dark-gray-bg);
    color: white;
    min-width: 6%;
    padding: 1.1rem;
    font-size: 1.2rem;
    border: none;
}

.small-button {
    background-color: var(--dark-gray-bg);
    color: white;
    min-width: 6%;
    padding: 0.5rem 1.1rem;
    font-size: 1rem;
    border: none;
}

.big-button:hover, .small-button:hover {
    background-color: var(--accent);
}

.white {
    color: white;
}

.playfair {
    font-family: 'Playfair Display Italic';
}

