#homepage-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#homepage-header {
    background-color: var(--gray-bg);
    margin: 0px;
}

#homepage-call-to-act {
    display: flex;
    justify-content: center;
    padding: 2% 15% 5% 15%;
}

#homepage-head-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#homepage-large-font {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 5rem;
}

#homepage-roboto-heading {
    font-family: "Roboto";
    font-size: 3rem;
    margin-bottom: 0px;
}

#homepage-image-content {
    display: flex;
}

#homepage-explore-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2% 10% 5% 10%;
}

#homepage-explore-text {
    font-size: 1.5rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#homepage-explore-images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    width: 70%;
}

#homepage-explore-images-small {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
}

