#product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

#product-info hr {
    border: 0.5px solid black;
    width: 70%; 
    margin-left: 0;
}

#about-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
}

#product-review {
    display: flex;
    background-color: var(--dark-gray-bg);
    color: white;
    justify-content: center;
    padding: 10% 0;
}

#taxes-price {
    display: flex;
}

#product-info ul{
    width: 600px;
    overflow:auto;

}

#product-info li{
    white-space:wrap;
}

#review-text {
    border-bottom: 2px solid white;
    font-size: 16px;
    background-color: transparent;
    padding-bottom: 5px;
    color: white;
    width: 80%;
}

#product-ratings-parent{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#customer-reviews{
    width: 40%;
    display: flex;
    flex-direction: column;
}


#product {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    background-color: var(--gray-bg);
    margin-top: 5%;
    padding: 10%; 
}

.review-button {
    background-color: var(--gray-bg);
    color: var(--dark-gray-bg);
    margin-top: 3%;
}

.review-button:hover {
    color: var(--gray-bg)
}

#product-image {
    display: flex;
    align-items: center;
    font-size: 3rem;
    position: relative;
}

.product-icon {
    position: relative;
    left: 13.5%;
    cursor: pointer;
}